* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

/* html {
    width: 100%;
    height: 100vh;
} */

body {
  font-size: 1.6rem;
  /* width: 100%;
    height: 100%; */
}

#chessboard {
  display: grid;
  grid-template-columns: 30px repeat(8, 1fr); /* 1 column for row labels + 8 columns for tiles */
  grid-template-rows: 30px repeat(8, 1fr); /* 1 row for column labels + 8 rows for tiles */
  gap: 0;
  width: 500px; /* or any size you prefer */
  height: 500px; /* should be same as width for square tiles */
}

.labels {
  display: contents; /* To align labels with the grid */
}

.label {
  font-size: 20px; /* Adjust label size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: contents; /* To align tiles with the grid */
}

.tile {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.5rem;
}

.knight-svg {
  width: calc(100% - 1rem); /* Assuming padding is 0.25rem on each side */
  height: calc(100% - 1rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the SVG */
  z-index: 3;
  transition: all 1s ease; /* Smooth transition for movement and scaling */
  transform-origin: center; /* Ensures scaling happens centrally */
}

@keyframes green-highlight {
  0%,
  100% {
    background-color: revert-layer;
  }
  50% {
    background-color: green;
  }
}

@keyframes yellow-highlight {
  0%,
  100% {
    background-color: revert-layer;
  }
  50% {
    background-color: yellow;
  }
}

@keyframes red-highlight {
  0%,
  100% {
    background-color: revert-layer;
  }
  50% {
    background-color: red;
  }
}

.green-highlight-animation {
  animation: green-highlight 1s infinite;
}

.yellow-highlight-animation {
  animation: yellow-highlight 1s infinite;
}

.red-highlight-animation {
  animation: red-highlight 1s infinite;
}

/* Using wood-like colors for the tiles */
.row:nth-child(odd) .tile:nth-child(odd),
.row:nth-child(even) .tile:nth-child(even) {
  background-color: #deb887; /* Lighter wood tone */
}

.row:nth-child(odd) .tile:nth-child(even),
.row:nth-child(even) .tile:nth-child(odd) {
  background-color: #a0522d; /* Darker wood tone */
}
