* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background: linear-gradient(135deg, #f6d8ac 25%, #dcedc1 50%, #fffbc4 75%);
  color: #333;
}

h1 {
  margin-top: 2rem;

  font-size: 5rem;
  color: #5a3e36;
  text-shadow:
    1px 1px 2px #fff,
    -1px -1px 1px #000;
}

#chessboard {
  display: grid;
  grid-template-columns: 30px repeat(8, 1fr);
  grid-template-rows: 30px repeat(8, 1fr);
  gap: 0;
  width: 500px;
  height: 500px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#message {
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#resetButton {
  padding: 1rem 2rem;
  background-color: #dcedc1;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

#resetButton:hover {
  background-color: #c5e1a5;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
}

#resetButton:active {
  background-color: #aed581;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.labels {
  display: contents;
}

.label {
  font-size: 2.2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: contents;
}

.tile {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.5rem;
}

.knight-svg {
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  transition: all 1s ease;
  transform-origin: center;
}

@keyframes green-highlight {
  0%,
  100% {
    background-color: revert-layer;
  }
  50% {
    background-color: green;
  }
}

@keyframes yellow-highlight {
  0%,
  100% {
    background-color: revert-layer;
  }
  50% {
    background-color: yellow;
  }
}

@keyframes red-highlight {
  0%,
  100% {
    background-color: revert-layer;
  }
  50% {
    background-color: red;
  }
}

.green-highlight-animation {
  animation: green-highlight 1s infinite;
}

.yellow-highlight-animation {
  animation: yellow-highlight 1s infinite;
}

.red-highlight-animation {
  animation: red-highlight 1s infinite;
}

.row:nth-child(odd) .tile:nth-child(odd),
.row:nth-child(even) .tile:nth-child(even) {
  background-color: #deb887;
}

.row:nth-child(odd) .tile:nth-child(even),
.row:nth-child(even) .tile:nth-child(odd) {
  background-color: #a0522d;
}
